* {
    font-size: 18px;
}

body {
    padding: 0;
    margin: 0;
   font-family: 'Roboto', Tahoma; 
}

.subscribe-to-monthly-newsletter {
    border: none;
    background-color: #232742;
    border-radius: 8px;
    color: white;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
}

#email-address {
    padding: 14px;
    width: 100%;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

.sign-up-img {
    border-radius: 40px;
    border-top: 80px;
}

section {
    /* padding: 100px 80px; */
    align-content: center;
    gap: 20px;
}



ul>li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

form>div>div {
    display: flex;
    flex-direction: column;
    align-items: start;
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    color: rgba(255, 0, 0, 0.4); display: none;
}

.header {
    width: 100%; 
    height: 100vh; 
    background-color: #36374d; 
    display: flex; 
    justify-content: center;
     align-items: center;
}

.div {
    display: flex; 
    align-items: center; 
    gap: 40px; 
    background-color: white; 
    border-radius: 24px; 
    padding: 20px 25px;
}